.panel.panel-boxed {
    margin-top: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @if $main-shadows {
        box-shadow: 2px 2px 7px 0px rgba(165, 165, 165, 0.4);
    }
}

/* Hide the panel header, if requested */
@if $panel-header-size == hide {

    .panel-boxed .panel-heading {
        display: none;
    }
}

/* Hide the footer, if requested */
@if $footer-size == hide {

    .footer {
        display: none;
    }

    .panel-boxed .panel-footer {
        display: none;
    }
}

.panel.panel-boxed .panel-heading {
    background-color: $panel-header-default-bg;
    color: $panel-header-default-color;
    font-size: $panel-header-brand-font-size;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @if $main-shadows {
        box-shadow: 1px 1px 4px 0px rgba(165, 165, 165, 0.4);
    }

        @if $panel-header-size == small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    @if $panel-header-size == medium {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    @if $panel-header-size == large {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @if $panel-header-brand-align == center {
        text-align: center;
    }

    @if $panel-header-brand-align == right {
        text-align: right;
    }
}

.panel.panel-boxed .panel-heading a {
    color: $panel-header-default-link-color;
}

.panel.panel-boxed .panel-heading a:hover {
    color: $panel-header-default-link-hover-color;
}

.panel.panel-boxed .panel-heading a:active {
    color: $panel-header-default-link-active-color;
}

/* Text */
.text-lg {
    font-size: 22px !important;
}

.text-sm {
    font-size: 11px !important;
}

.panel.panel-boxed .panel-heading img {
    display: inline;

    @if $panel-header-size == small {
        max-height: 52px;
    }

    @if $panel-header-size == medium {
        max-height: 67px;
    }

    @if $panel-header-size == large {
        max-height: 82px;
    }
}

.panel.panel-boxed .panel-heading .company-name {
    display: inline;
    font-family: $font-family-company-name;
    color: $company-name-color;

    @if $panel-header-size == small {
        height: 30px;
        line-height: 30px;
        font-size: $panel-header-brand-font-size;
        vertical-align: middle;
    }

    @if $panel-header-size == medium {
        height: 50px;
        line-height: 50px;
        font-size: $panel-header-brand-font-size;
        vertical-align: middle;
    }

    @if $panel-header-size == large {
        height: 70px;
        line-height: 70px;
        font-size: $panel-header-brand-font-size;
        vertical-align: middle;
    }
}

/* Footer */
.panel-boxed .panel-footer, .footer {
    color: $footer-color;
    background-color: $footer-bg;
    text-align: center;
    padding: 5px;
    width: 100%;
    min-height: 50px;
    font-size: 11px;

    @if $footer-size == medium {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 12px;
    }

    @if $footer-size == large {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 13px;
    }
}

.panel-footer, .footer {
    a, a:link, a:visited {
        color: $footer-link-color;
    }

    a:hover, a:active {
        color: $footer-link-hover-color;
    }
}


/* Page header */
.page-header {
    margin-top: 5px;
}

.page-header h1 {
    margin-top: 5px;
}

/* Header font colors */
h1, h2, h3, h4, h5 {
    color: $h-color;
}

/* Page header line color */
.page-header {
    border-bottom: $divider-bar-width solid $divider-bar-color;
}

/* Content container */
.panel.panel-boxed .panel-body {
    color: $main-content-color;
    background-color: $main-content-bg;
}

/* Pointer on dropdowns */
li.dropdown, .pointer {
    cursor: pointer;
}

/* Global footer style */
.global-footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Security badges */
p.security-badges img {
    max-height: 30px;

    @if $footer-size == medium {
        max-height: 40px;
    }

    @if $footer-size == large {
        max-height: 50px;
    }
}

/* Currency selection button */
.currency-button {
    margin-right: 7px;
}

/* Product icon image */
img.product-icon {
    max-height: 75px;
    border: 1px solid $product-icon-border-color;
}

/* Quantity */
.quantity-stepper {
    width: 125px;
    padding-top: 28px;
    margin: 0 auto;
}

.quantity-stepper .btn {
    height: 34px;
}

.quantity-stepper .btn-default {
    border: 1px solid $input-border;
    background-color: $stepper-bg;
}

.quantity-stepper .btn-default:focus, .quantity-stepper .btn-default:hover {
    background-color: $stepper-hover-bg;
}

.quantity-stepper .btn-default:active {
    background-color: $stepper-active-bg;
}

.quantity-stepper .input-group-btn:first-child > .btn {
    border-bottom-left-radius: $input-border-radius;
    border-top-left-radius: $input-border-radius;
}

.quantity-stepper .input-group-btn:last-child > .btn {
    border-bottom-right-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
}

.quantity-stepper i.fa {
    color: $stepper-color;
}

.quantity-stepper input.quantity {
    text-align: center;
    border-radius: 0px !important;
}

.remove-link {
    padding-top: 8px;
    font-weight: bold;
    display: inline-block;
    color: $link-color;
}

/* Promo code */
.promo-code {

    input {
        width: 150px;
    }

    .form-control {
        display: inline-block;
    }

    @media (min-width: $screen-xs-min) {
        input {
            width: 250px !important;
        }
    }

    label {
        cursor: pointer;
        color: $link-color;
    }
}

.has-price {
    font-size: 15px;
    font-weight: bold;
}

del.discount {
    font-weight: normal;
}

.faux-link {
    color: $link-color;
    cursor: pointer;
}

/* No exit animations */
.ng-leave {
    display: none;
}

/* Dividers */
.hr {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: $divider-bar-width solid $divider-bar-color;
}

.hr:before, .hr:after {
    content: " ";
    display: table;
}

.hr:after {
    clear: both;
}

.section-header {
    height: 0;
    border-top: $divider-bar-width solid $divider-bar-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-header span {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0 15px;
    background: $main-content-bg;
    color: $divider-bar-text-color;
    top: -5px;
}

/* Inputs */
.required:after {
    color: #e32;
    content: " *";
}

/* href buttons */
a.btn-primary {
    color: $btn-primary-color !important;
}

a.btn-success {
    color: $btn-success-color !important;
}

a.btn-info {
    color: $btn-info-color !important;
}

a.btn-danger {
    color: $btn-danger-color !important;
}

.form-control::-webkit-input-placeholder { color: $placeholder-color; }
.form-control:-moz-placeholder { color: $placeholder-color; }
.form-control::-moz-placeholder { color: $placeholder-color; }
.form-control:-ms-input-placeholder { color: $placeholder-color; }

.radio-group-label,
.checkbox-group-label {
  clear: both;
  margin-bottom: 10px;
}
.checkbox,
.radio {
  opacity: 0;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
}
.radio-group label,
.checkbox-group label {
  margin-right: 15px;
  cursor: pointer;
  display: block;
  font-weight: normal;
}
.radio-group label.strong,
.checkbox-group label.strong {
  font-weight: 700;
}
.radio-group.inline label,
.checkbox-group.inline label {
  display: inline;
}
/* Remove inline display on small screens */
@media (max-width: $screen-xs-min) {
  .radio-group.inline label,
  .checkbox-group.inline label {
    display: block;
  }
}

.radio-group .radio-group-description {
    font-size: 95%;
    font-style: italic;
}

.checkbox-label.inline,
.radio-label.inline {
  position: relative;
  display: inline;
}
.checkbox + .checkbox-label:before,
.radio + .radio-label:before {
  content: '';
  background: #fff;
  border: 2px solid #b9b8b8;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
}
.checkbox[disabled] + .checkbox-label:before,
.radio[disabled] + .radio-label:before {
  border: 2px solid #f1f0f0;
  cursor: not-allowed;
}
.checkbox:checked + .checkbox-label:before {
  background: #3498db;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio + label:before {
  border-radius: 50%;
}
.radio:checked + label:before {
  background: #3498db;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-group-label,
.checkbox-group-label {
  clear: both;
  display: block;
}
.checkbox:focus + .checkbox-label,
.radio:focus + label {
  outline: none;
  /* focus style */
}

/* Enable icon placeholders within inputs
<div class="inner-addon left-addon">
    <i class="fa fa-user"></i>
    <input type="text" class="form-control" />
</div>
*/
.inner-addon { 
    position: relative; 
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: $placeholder-color;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Form error text */
.error-block {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 0;
    z-index: 3;
}

.has-error .error-block {
    background: $state-danger-bg;
    border-color: $state-danger-text;
    color: $state-danger-text;
    background-size: 20px 20px;
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 2px;
    position: relative;
}

    .has-error .error-block:before,
    .has-error .error-block:after {
        content: "";
        position: absolute;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }

    .has-error .error-block:before {
        border-bottom: solid;
        border-width: 7px;
        left: 16px;
        top: -7px;
    }

    .has-error .error-block:after {
        border-bottom: 6px solid;
        left: 17px;
        top: -6px;
    }

    .has-error .error-block:before {
        border-bottom-color: $state-danger-text;
    }

.has-error .error-block:after {
    border-bottom-color: $state-danger-bg;
}

.header, thead {
    background-color: $header-bg;
    color: $header-color;
}

.header a, a:link, a:visited {
    color: $header-link-color;
}

.header a:hover, a:active {
    color: $header-link-hover-color;
}

thead a, a:link, a:visited {
    color: $header-link-color;
}

thead a:hover, a:active {
    color: $header-link-hover-color;
}

/* Credit card icons */
.credit-cards {
    margin-top: -5px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: right;
}

.credit-cards img {
    max-height: 20px;
    margin-left: 3px;
}

.credit-card-image img {
    max-height: 20px;
}

/* Responsive CSS table */
/* http://codepen.io/anon/pen/QwPVNW, https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/*/
table {
    /*border: 1px solid #ccc;*/
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    padding: 5px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    font-size: 12px;
    letter-spacing: 1px;
}

.radio-group.inline label, .checkbox-group.inline label {
    display: inline;
}

/* Wallet buttons */
ul.payment-methods {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
    text-align: right;
}

ul.payment-methods li {
    display: inline-block;
    margin-right: 12px;
    position: relative;
}

ul.payment-methods li:last-child {
    margin-right: 0px;
}

.amazonpay-button-inner-image {    
     max-height: none !important;    
     opacity: 0 !important;    
     position: absolute;    
     top: 0;    
     left: 0;   
     width: 152px;    
     height: 52px;
}

@media screen and (max-width: $screen-sm-min) {

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: none;
    }

    table.tight tr {
        margin-bottom: 0;
        padding: 0;
        border-bottom: none;
    }

    table.tight td {
        padding: 5px;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: none;
    }

    table td .form-control, table td img {
        display: inline-block;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
    }

    /* Vertically align labels for cells with an input element */
    table td.has-input:before {
        display: inline-block;
        margin-top: 9px;
    }

    /* Vertically align labels for cells with an input element */
    table td.has-image:before {
        display: inline-block;
        margin-top: 30px;
    }

    /* Quantity */
    .quantity-stepper-wrapper {
        float: right;
    }

    .quantity-stepper {
        padding-top: 6px;
        margin: 0px;
    }

    .remove-link {
        display: block;
        text-align: right;
        clear: right;
        padding-top: 16px;
    }

    /* Wallet buttons */
    ul.payment-methods li {
        margin: 0 0 12px 0;
    }

    ul.payment-methods li:last-child {
        margin-bottom: 0;
    }
}

/* Spacers */
.spacer-t5 {
    margin-top: 5px;
}

.spacer-b5 {
    margin-bottom: 5px;
}

.spacer-r5 {
    margin-right: 5px;
}

.spacer-l5 {
    margin-left: 5px;
}

.spacer-5 {
    margin: 5px;
}

.spacer-t10 {
    margin-top: 10px;
}

.spacer-b10 {
    margin-bottom: 10px;
}

.spacer-r10 {
    margin-right: 10px;
}

.spacer-l10 {
    margin-left: 10px;
}

.spacer-10 {
    margin: 10px;
}

.spacer-t15 {
    margin-top: 15px;
}

.spacer-b15 {
    margin-bottom: 15px;
}

.spacer-r15 {
    margin-right: 15px;
}

.spacer-l15 {
    margin-left: 15px;
}

.spacer-15 {
    margin: 15px;
}

.spacer-t20 {
    margin-top: 20px;
}

.spacer-b20 {
    margin-bottom: 20px;
}

.spacer-r20 {
    margin-right: 20px;
}

.spacer-l20 {
    margin-left: 20px;
}

.spacer-20 {
    margin: 20px;
}

.spacer-t30 {
    margin-top: 30px;
}

.spacer-b30 {
    margin-bottom: 30px;
}

.spacer-r30 {
    margin-right: 30px;
}

.spacer-l30 {
    margin-left: 30px;
}

.spacer-30 {
    margin: 30px;
}

.spacer-t40 {
    margin-top: 40px;
}

.spacer-b40 {
    margin-bottom: 40px;
}

.spacer-r40 {
    margin-right: 40px;
}

.spacer-l40 {
    margin-left: 40px;
}

.spacer-40 {
    margin: 40px;
}

.spacer-t100 {
    margin-top: 100px;
}

.spacer-b100 {
    margin-bottom: 100px;
}

.spacer-r100 {
    margin-right: 100px;
}

.spacer-l100 {
    margin-left: 100px;
}

.spacer-100 {
    margin: 100px;
}

.padding-l0 {
    padding-left: 0 !important;
}

.padding-r0 {
    padding-right: 0 !important;
}

.padding-t0 {
    padding-top: 0 !important;
}

.padding-b0 {
    padding-bottom: 0 !important;
}

.padding-l5 {
    padding-left: 5px !important;
}

.padding-r5 {
    padding-right: 5px !important;
}

.padding-t5 {
    padding-top: 5px !important;
}

.padding-b5 {
    padding-bottom: 5px !important;
}

.padding-l10 {
    padding-left: 10px !important;
}

.padding-r10 {
    padding-right: 10px !important;
}

.padding-t10 {
    padding-top: 10px !important;
}

.padding-b10 {
    padding-bottom: 10px !important;
}

.padding-l15 {
    padding-left: 15px !important;
}

.padding-r15 {
    padding-right: 15px !important;
}

.padding-t15 {
    padding-top: 15px !important;
}

.padding-b15 {
    padding-bottom: 15px !important;
}

.padding-l20 {
    padding-left: 20px !important;
}

.padding-r20 {
    padding-right: 20px !important;
}

.padding-t20 {
    padding-top: 20px !important;
}

.padding-b20 {
    padding-bottom: 20px !important;
}

.padding-t30 {
    padding-top: 30px !important;
}

.padding-b30 {
    padding-bottom: 30px !important;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
