/* Overrides */
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
}

.form-group {
    margin-top: 12px;
    margin-bottom: 0px;
}

.form-control {
    box-shadow: none;
}

.alert {
    margin-bottom: 0;
    padding: 16px 24px;
}

.well {
    box-shadow: none;
    background-color: #fbfbfb;
    border: 1px solid #e6e7e8;
    padding: 16px;
    margin-bottom: 0;
}

.btn-lg {
    font-weight: 500;
}

.btn-default {
    border-color: #e6e7e8;
}

.btn-inverse, .btn-inverse:active, .btn-inverse:hover, .btn-inverse:focus {
    border-color: $brand-primary;
    color: $brand-primary;
    background-color: $btn-primary-color;
}

/* Navbar */
.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;

    @if $header-size == small {
        min-height: 44px;
    }

    @if $header-size == medium {
        min-height: 64px;
    }

    @if $header-size == large {
        min-height: 88px;
    }

    @if $header-size == hide {
        display: none;       
    }

    @if $main-shadows {
        box-shadow: 1px 1px 4px 0px rgba(165, 165, 165, 0.4);
    }
}

.navbar.navbar-default {
    background-color: $header-bg;
    border-bottom: 1px solid $header-divider-bar-color;
}

.navbar .brand {
    @if $header-size == small {
        line-height: 44px;
    }

    @if $header-size == medium {
        line-height: 64px;
    }

    @if $header-size == large {
        line-height: 88px;
    }

    @if $header-brand-align == center {
        text-align: center;
    }

    @if $header-brand-align == left {
        text-align: left;
    }
}

.navbar .brand .company-name {
    display: inline;
    font-family: $font-family-company-name;
    color: $company-name-color;
    font-weight: 500;

    @if $header-size == small {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        vertical-align: middle;
    }

    @if $header-size == medium {
        height: 64px;
        line-height: 64px;
        font-size: 24px;
        vertical-align: middle;
    }

    @if $header-size == large {
        height: 88px;
        line-height: 88px;
        font-size: 32px;
        vertical-align: middle;
    }
}

.navbar .brand img {
    display: inline-block;
    vertical-align: middle;

    @if $header-size == small {
        max-height: 32px;
    }

    @if $header-size == medium {
        max-height: 44px;
    }

    @if $header-size == large {
        max-height: 64px;
    }
}

/* Footer */
.footer {
    color: $footer-color;
    background-color: $footer-bg;
    text-align: center;
    padding: 6px;
    width: 100%;
    min-height: 48px;
    font-size: 12px;

    @if $footer-size == medium {
        padding-top: 12px;
        padding-bottom: 16px;
        font-size: 12px;
    }

    @if $footer-size == large {
        padding-top: 16px;
        padding-bottom: 24px;
        font-size: 14px;
    }
}

.footer {
    a, a:link, a:visited {
        color: $footer-link-color;
    }

    a:hover, a:active {
        color: $footer-link-hover-color;
    }
}

/* Global footer style */
.global-footer {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* Panel */
.panel {
    border-radius: $panel-border-radius;
    box-shadow: none;
    margin-bottom: 12px;
    color: $main-content-color;
    background-color: $main-content-bg;

    @if $main-shadows {
        box-shadow: 2px 2px 7px 0px rgba(165, 165, 165, 0.4);
    }
}

.panel-default {
    border-color: $panel-border-color;
}

.panel-body {
    padding: 0px 24px 24px;
}

.panel-body.panel-body-shaded {
    background-color: $main-content-shaded-bg;
    border-top: 1px solid $panel-border-color;
}

.panel-top-border {
    border-top: 1px solid $panel-border-color;
}

.panel-bottom-border {
    border-bottom: 1px solid $panel-border-color;
}

.section {
    margin-top: 24px;
}

.section-top-border {
    border-top: 1px solid $panel-border-color;
}

/* Text */
.text-lg {
    font-size: 20px !important;
}

.text-sm {
    font-size: 11px !important;
}

.text-inline {
    display: inline-block;
}

.text-light {
    color: $main-content-alt-color;
}

/* Header font colors */
h1, h2, h3, h4, h5 {
    color: $h-color;
}

/* Pointer on dropdowns */
li.dropdown, .pointer {
    cursor: pointer;
}

/* Security badges */
p.security-badges img {
    max-height: 30px;

    @if $footer-size == medium {
        max-height: 40px;
    }

    @if $footer-size == large {
        max-height: 50px;
    }
}

/* Product icon image */
img.product-icon {
    max-height: 88px;
    border: 1px solid $product-icon-border-color;
    padding: 8px;
    border-radius: 2px;
}

/* Quantity */
.quantity-stepper {
    width: 128px;
    margin-top: 16px;
}

.quantity-stepper .btn {
    height: 34px;
}

.quantity-stepper .btn-default {
    border: 1px solid $input-border;
    background-color: $stepper-bg;
}

.quantity-stepper .btn-default:focus, .quantity-stepper .btn-default:hover {
    background-color: $stepper-hover-bg;
}

.quantity-stepper .btn-default:active {
    background-color: $stepper-active-bg;
}

.quantity-stepper .input-group-btn:first-child > .btn {
    border-bottom-left-radius: $input-border-radius;
    border-top-left-radius: $input-border-radius;
}

.quantity-stepper .input-group-btn:last-child > .btn {
    border-bottom-right-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
}

.quantity-stepper i.fa {
    color: $stepper-color;
}

.quantity-stepper input.quantity {
    text-align: center;
    border-radius: 0px !important;
}

.remove-button {
    font-size: 18px;
    display: block;
    color: $main-content-color !important;
}

.remove-link {
    padding-top: 8px;
    font-weight: bold;
    display: inline-block;
    color: $link-color;
}

.continue-shopping-link, .have-account-link {
    text-align: right;
}

/* Promo code */
.promo-code {

    input {
        width: 150px;
    }

    .form-control {
        display: inline-block;
    }

    @media (min-width: $screen-xs-min) {
        input {
            width: 250px !important;
        }
    }

    label {
        cursor: pointer;
        font-weight: normal;
        color: $link-color;
    }
}

.has-price {
    font-size: 15px;
    font-weight: bold;
}

del.discount {
    font-weight: normal;
}

.faux-link {
    color: $link-color;
    cursor: pointer;
}

/* No exit animations */
.ng-leave {
    display: none;
}

/* Inputs */
.required:after {
    color: #e32;
    content: " *";
}

/* href buttons */
a.btn-primary {
    color: $btn-primary-color !important;
}

a.btn-success {
    color: $btn-success-color !important;
}

a.btn-info {
    color: $btn-info-color !important;
}

a.btn-danger {
    color: $btn-danger-color !important;
}

a.btn-inverse {
    border-color: $brand-primary !important;
    color: $brand-primary !important;
    background-color: $btn-primary-color !important;
}

/*Set the placeholder color */
.form-control::-webkit-input-placeholder { color: $placeholder-color; }
.form-control:-moz-placeholder { color: $placeholder-color; }
.form-control::-moz-placeholder { color: $placeholder-color; }
.form-control:-ms-input-placeholder { color: $placeholder-color; }

/* "Faux" placeholders on select controls */
.select-placeholder { color: $placeholder-color; }
.select-options-color { color: $input-color; }

/* A class that allows placeholders to be marked as transparent. See kit.js hidePlaceholder directive for more info */
/* WebKit, Blink, Edge */
.hide-placeholder::-webkit-input-placeholder { color: transparent; opacity: 0 }

/* Mozilla Firefox 4 to 18 */
.hide-placeholder:-moz-placeholder { color: transparent; opacity: 0; }

/* Mozilla Firefox 19+ */
.hide-placeholder::-moz-placeholder { color: transparent; opacity: 0; }

/* Internet Explorer 10-11 */
.hide-placeholder:-ms-input-placeholder { color: transparent; }

/* Microsoft Edge */
.hide-placeholder::-ms-input-placeholder { color: transparent; opacity: 0 }

/* Most modern browsers */
.hide-placeholder::placeholder { color: transparent; opacity: 0 }

/* Loading bar, top of page when ajax requests are processing / waiting */
#loading-bar .bar {
    background: $loading-bar-bg-color;
}

/* Radio buttons / groups */
.radio-group-label,
.checkbox-group-label {
  clear: both;
  margin-bottom: 10px;
}
.checkbox,
.radio {
  opacity: 0;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
}
.radio-group label,
.checkbox-group label {
  margin-right: 15px;
  cursor: pointer;
  display: block;
  font-weight: normal;
}
.radio-group label.strong,
.checkbox-group label.strong {
  font-weight: 700;
}
.radio-group.inline label,
.checkbox-group.inline label {
  display: inline;
}
/* Remove inline display on small screens */
@media (max-width: $screen-xs-min) {
  .radio-group.inline label,
  .checkbox-group.inline label {
    display: block;
  }
}

.radio-group .radio-group-description {
    font-size: 95%;
    font-style: italic;
}

.checkbox-label.inline,
.radio-label.inline {
  position: relative;
  display: inline;
}
.checkbox + .checkbox-label:before,
.radio + .radio-label:before {
  content: '';
  background: #fff;
  border: 2px solid #b9b8b8;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
}
.checkbox[disabled] + .checkbox-label:before,
.radio[disabled] + .radio-label:before {
  border: 2px solid #f1f0f0;
  cursor: not-allowed;
}
.checkbox:checked + .checkbox-label:before {
  background: #3498db;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio + label:before {
  border-radius: 50%;
}
.radio:checked + label:before {
  background: #3498db;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-group-label,
.checkbox-group-label {
  clear: both;
  display: block;
}
.checkbox:focus + .checkbox-label,
.radio:focus + label {
  outline: none;
  /* focus style */
}

/* Enable icon placeholders within inputs
<div class="inner-addon left-addon">
    <i class="fa fa-user"></i>
    <input type="text" class="form-control" />
</div>
*/
.inner-addon { 
    position: relative; 
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: $placeholder-color;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Form error text */
.error-block {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 0;
    z-index: 3;
}

.has-error .error-block {
    background: $state-danger-bg;
    border-color: $state-danger-text;
    color: $state-danger-text;
    background-size: 20px 20px;
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 2px;
    position: relative;
}

    .has-error .error-block:before,
    .has-error .error-block:after {
        content: "";
        position: absolute;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }

    .has-error .error-block:before {
        border-bottom: solid;
        border-width: 7px;
        left: 16px;
        top: -7px;
    }

    .has-error .error-block:after {
        border-bottom: 6px solid;
        left: 17px;
        top: -6px;
    }

    .has-error .error-block:before {
        border-bottom-color: $state-danger-text;
    }

.has-error .error-block:after {
    border-bottom-color: $state-danger-bg;
}

/* Credit card icons */
.credit-cards {
    white-space: nowrap;
    overflow: hidden;
}

.credit-cards img {
    max-height: 18px;
    margin-right: 4px;
    vertical-align: top;
}

.credit-card-image img {
    max-height: 18px;
}

/* Responsive CSS table */
/* http://codepen.io/anon/pen/QwPVNW, https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/*/
table {
    /*border: 1px solid #ccc;*/
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table th, table td {
    text-align: left;
    vertical-align: top;
    padding-right: 24px;
}

table th:last-child, table td:last-child {
    padding-right: 0;
}

table td.has-product-icon {
    width: 88px;
}

.radio-group.inline label, .checkbox-group.inline label {
    display: inline;
}

ul.payment-methods {
    list-style-type: none;
    padding: 0;
}

ul.payment-methods li {
    float: left;
    margin-right: 24px;
    font-size: 16px;
    color: $main-content-color;
}

ul.payment-methods li:last-child {
    margin-right:0;
}

ul.payment-methods li label {
    margin-bottom: 0;
}

.payment-button {
    position: relative;
    margin: 16px 0;
}

.amazonpay-button-inner-image {    
     max-height: none !important;    
     opacity: 0 !important;    
     position: absolute;    
     top: 0;    
     left: 0;   
     width: 152px;    
     height: 52px;
}

.receipt-date, .invoice-date {
    text-align: right;
}

@media screen and (max-width: $screen-sm-min) {
    .remove-link {
        display: block;
        text-align: right;
        clear: right;
        padding-top: 16px;
    }

    .continue-shopping-link, .have-account-link {
        text-align: left;
        margin-top: 6px;
    }

    ul.payment-methods li {
        margin-top: 12px;
    }

    .receipt-date, .invoice-date {
        text-align: left;
    }
}

/* Spacers */
.spacer-l0 {
    margin-left: 0;
}

.spacer-r0 {
    margin-right: 0;
}

.spacer-t0 {
    margin-top: 0;
}

.spacer-b0 {
    margin-bottom: 0;
}

.spacer-t6 {
    margin-top: 6px;
}

.spacer-b6 {
    margin-bottom: 6px;
}

.spacer-r6 {
    margin-right: 6px;
}

.spacer-l6 {
    margin-left: 6px;
}

.spacer-6 {
    margin: 6px;
}

.spacer-t12 {
    margin-top: 12px;
}

.spacer-b12 {
    margin-bottom: 12px;
}

.spacer-r12 {
    margin-right: 12px;
}

.spacer-l12 {
    margin-left: 12px;
}

.spacer-12 {
    margin: 12px;
}

.spacer-t16 {
    margin-top: 16px;
}

.spacer-b16 {
    margin-bottom: 16px;
}

.spacer-r16 {
    margin-right: 16px;
}

.spacer-l16 {
    margin-left: 16px;
}

.spacer-16 {
    margin: 16px;
}

.spacer-t24 {
    margin-top: 24px;
}

.spacer-b24 {
    margin-bottom: 24px;
}

.spacer-r24 {
    margin-right: 24px;
}

.spacer-l24 {
    margin-left: 24px;
}

.spacer-24 {
    margin: 24px;
}

.spacer-t36 {
    margin-top: 36px;
}

.spacer-b36 {
    margin-bottom: 36px;
}

.spacer-r36 {
    margin-right: 36px;
}

.spacer-l36 {
    margin-left: 36px;
}

.spacer-36 {
    margin: 36px;
}

.spacer-t48 {
    margin-top: 48px;
}

.spacer-b48 {
    margin-bottom: 48px;
}

.spacer-r48 {
    margin-right: 48px;
}

.spacer-l48 {
    margin-left: 48px;
}

.spacer-48 {
    margin: 48px;
}

.padding-l0 {
    padding-left: 0 !important;
}

.padding-r0 {
    padding-right: 0 !important;
}

.padding-t0 {
    padding-top: 0 !important;
}

.padding-b0 {
    padding-bottom: 0 !important;
}

.padding-l6 {
    padding-left: 6px !important;
}

.padding-r6 {
    padding-right: 6px !important;
}

.padding-t6 {
    padding-top: 6px !important;
}

.padding-b6 {
    padding-bottom: 6px !important;
}

.padding-l12 {
    padding-left: 12px !important;
}

.padding-r12 {
    padding-right: 12px !important;
}

.padding-t12 {
    padding-top: 12px !important;
}

.padding-b12 {
    padding-bottom: 12px !important;
}

.padding-l16 {
    padding-left: 16px !important;
}

.padding-r16 {
    padding-right: 16px !important;
}

.padding-t16 {
    padding-top: 16px !important;
}

.padding-b16 {
    padding-bottom: 16px !important;
}

.padding-l24 {
    padding-left: 24px !important;
}

.padding-r24 {
    padding-right: 24px !important;
}

.padding-t24 {
    padding-top: 24px !important;
}

.padding-b24 {
    padding-bottom: 24px !important;
}

.padding-t36 {
    padding-top: 36px !important;
}

.padding-b36 {
    padding-bottom: 36px !important;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
