/* USER DEFINED */

/* Main Colors */
$brand-primary: #0099E6;
$brand-success: #36ab0c;
$brand-info: #5bc0de;
$brand-danger: #d9534f;

/* Company Name Color */
$company-name-color: #686868;

/* Alert Colors */
$state-success-text: #3c763d;
$state-success-bg: #dff0d8;

$state-info-text: #31708f;
$state-info-bg: #d9edf7;

$state-danger-text: #a94442;
$state-danger-bg: #f2dede;

/* Button Text Colors */
$btn-primary-color: #ffffff;
$btn-success-color: #ffffff;
$btn-info-color: #ffffff;
$btn-danger-color: #ffffff;

/* Fonts */
$font-family-base: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-family-company-name: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-family-footer: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

/* Main page */
$body-bg: #f6f7f8;

/* Defines if shadows on the main container */
$main-shadows: false;

/* Panel */
$panel-border-radius: 4px;
$panel-border-color: #e6e7e8;

/* Header */
$header-size: medium;
$header-default-color: #ffffff;
$header-bg: #ffffff;
$header-divider-bar-color: #e6e7e8;
$header-brand-align: left;

/* Main content area background color */
$main-content-color: #686868;
$main-content-bg: #ffffff;
$main-content-shaded-bg: #fbfbfb;
$h-color: #686868;
$link-color: #00A8FF;

/* Default button */
$btn-default-color: #686868;
$btn-default-bg: #ffffff;

/* Footer */
$footer-size: medium;
$footer-color: #686868;
$footer-bg: #f6f7f8;
$footer-link-color: #00A8FF;

/* Form elements */
$input-border-radius: 2px;
$input-bg: #ffffff;
$input-color: #555555;
$input-border: #d6d7d8;
$placeholder-color: #999999;

/* Quantity stepper */
$stepper-bg: #fbfbfb;
$stepper-color: #00A8FF;

/* Product Image Borders */
$product-icon-border-color: #e6e7e8;

/* Loading bar color */
$loading-bar-bg-color: #95dafd;

/* NOT USER DEFINED */

$header-default-brand-hover-color: $header-default-color;
$header-default-bg:  $brand-primary;

$header-default-link-color: $header-default-color;
$header-default-link-hover-color: lighten($header-default-link-color, 6.5%);
$header-default-link-active-color: darken($header-default-link-color, 6.5%);

$main-content-alt-color: lighten($main-content-color, 20%);

$btn-default-border: darken($btn-default-bg, 5%);

$stepper-hover-bg: darken($stepper-bg, 5%);
$stepper-active-bg: darken($stepper-bg, 10%);

$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;

$footer-link-hover-color: darken($footer-link-color, 10%);

/************************  Header is flush to top so no rounding  *************************/
//$panel-header-border-radius: 0;
$grid-gutter-width: 30px;
