.container {
    max-width: 750px;
}

code {
    color: #443974;
    background-color: #f3f1f8;
}

.panel-body {
    padding: 0 0 14px;
}

.pager {
        margin: 10px 0 10px 0;
}

.pager .previous > a, .pager .next > a {
    cursor: pointer;
}
