<div ng-controller="ReceiptController">

        <div class="dropdown pull-right spacer-r10" uib-dropdown ng-if="settings.app.enable_languages">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                <i class="fa fa-globe"></i> <span class="pointer">{{language}}</span> <i class="caret"></i>
            </button>
            <ul class="dropdown-menu" language-select as-dropdown></ul>
        </div>

        <div class="row"></div>

    <div class="page-header">
        <h1 translate>Receipt</h1>
    </div>

    <div class="alert alert-danger" ng-if="data.error">
        {{data.error.message}}
    </div>

    <div ng-if="data.payment.order" class="spacer-b20"><strong translate>Thank you! Your order is complete.</strong></div>

    <div ng-if="data.payment && !data.payment.order" class="alert alert-info" translate>
        Thank you! Your order has been submitted for processing. You will receive an email soon with additional information regarding your order status.
    </div>

    <div class="well header">
        <div class="spacer-b10"><strong><span>Order ID</span><span class="pull-right">{{data.payment.order.order_id}}</span></strong><br /></div>
        <span translate>Date</span><span class="pull-right">{{data.payment.date_created  | date:'short'}}</span>
    </div>

    <div create-account customer="data.payment.order.customer" options="options" error="data.error">

        <div class="well header clearfix supply-credentials">

            <div class="spacer-b10" translate>To manage your order online, create an account.</div>
            <div class="col-xs-12 col-md-6" id="un">
                <div class="form-group">
                    <label class="control-label" for="un" translate>Username</label>
                    <div class="inner-addon left-addon">
                        <i class="fa fa-user"></i>
                        <input class="form-control create-account-username" name="un" type="text" value="{{data.payment.order.customer.email}}">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6" id="pw">
                <div class="form-group">
                    <label class="control-label" for="pw" translate>Password</label>
                    <div class="inner-addon left-addon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control create-account-password" name="pw" type="password">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-info btn-sm submit-create-account" error="data.error" translate>Create Account</button>
            </div>

        </div>

        <div class="alert alert-success account-created">
            <i class="fa fa-check-square-o fa-lg"></i> <span translate>Your account has been created.</span>
        </div>

    </div>

    <div class="col-xs-12 col-sm-6 spacer-b20">
        <span><strong translate>Sold To</strong><br /></span>
        <span ng-if="data.payment.order.customer.company_name">{{data.payment.order.customer.company_name}}<br /></span>
        <span ng-if="data.payment.order.customer.name">{{data.payment.order.customer.name}}<br /></span>
        <span ng-if="data.payment.order.customer.billing_address.address_1">{{data.payment.order.customer.billing_address.address_1}}<br /></span>
        <span ng-if="data.payment.order.customer.billing_address.address_2">{{data.payment.order.customer.billing_address.address_2}}<br /></span>
        <span ng-if="data.payment.order.customer.billing_address.city">{{data.payment.order.customer.billing_address.city}}</span>
        <span ng-if="data.payment.order.customer.billing_address.state_prov">{{data.payment.order.customer.billing_address.state_prov}}</span>
        <span ng-if="data.payment.order.customer.billing_address.postal_code">{{data.payment.order.customer.billing_address.postal_code}}</span><br />
        <span ng-if="data.payment.order.customer.billing_address.country">{{data.payment.order.customer.billing_address.formatted.country}}<br /></span>
        <span ng-if="data.payment.order.customer.email">{{data.payment.order.customer.email}}</span>
    </div>

    <div class="col-xs-12 col-sm-6 spacer-b20">
        <span><strong translate>Payment Method</strong></span><br />
        <div ng-if="data.payment.payment_method.type == 'credit_card'">
            {{data.payment.payment_method.data.type}} {{data.payment.payment_method.data.mask}}<br />
            <span translate>Expires</span>: {{data.payment.payment_method.data.exp_month}}/{{data.payment.payment_method.data.exp_year}}
        </div>
        <div ng-if="data.payment.payment_method.type == 'paypal'">
            PayPal<br />
        </div>
    </div>

    <div class="row"></div>

    <div class="section-header">
        <span translate>Order Details</span>
    </div>

    <!-- Show a spinner if the order is awaiting licenses -->
    <div ng-show="data.awaitingLicense" class="row text-center spacer-b20">
        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
    </div>

    <table class="cart">
        <thead>
            <tr>
                <th ng-show="showImages" style="width: 120px;" translate>Item</th>
                <th translate>Name</th>
                <th translate>Quantity</th>
                <th class="text-right" translate>Subtotal</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in data.payment.order.items">
            <tr>
                <td ng-show="showImages" class="text-left"><img class="product-icon" ng-src="{{item.product.images[0].link_square}}" /></td>
                <td data-label="{{ 'Name' | translate}}"><strong>{{item.name}}</strong></td>
                <td data-label="{{ 'Quantity' | translate}}"><span>{{item.quantity}}</span></td>
                <td class="text-right has-price" data-label="{{ 'Subtotal' | translate}}"><span ng-show="item.price_original > item.price"><del class="discount text-danger">{{data.payment.order.tax_inclusive ? item.formatted.total_original : item.formatted.subtotal_original}}</del>&nbsp;</span>{{data.payment.order.tax_inclusive ? item.formatted.total : item.formatted.subtotal}}</td>
            </tr>
            <tr ng-if="item.subscription.description">
                <td colspan="4" class="text-left"><span><em>{{item.subscription.description}}</em></span></td>
            </tr>
            <tr ng-if="item.download">
                <td colspan="4" class="text-left">
                    <a class="btn btn-info" ng-href="{{item.download.link}}" translate>Download Now</a>
                </td>
            </tr>
            <tr ng-if="item.license">
                <td colspan="4" class="text-left">
                    <div class="alert alert-info">
                        <p><strong>{{item.license.label}}:</strong></p>
                        <span ng-bind-html="item.license.html"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row"></div>

    <div class="section-header">
        <span translate>Payment Summary</span>
    </div>

    <table class="tight cart">
        <tbody ng-if="!data.payment.order.tax_inclusive">
            <tr>
                <td class="text-left hidden-xs" translate>Subtotal</td>
                <td class="text-right" data-label="{{ 'Subtotal' | translate}}"><span class="has-price">{{data.payment.order.formatted.subtotal}}</span></td>
            </tr>
        </tbody>
        <tbody ng-show="data.payment.order.shipping_item">
            <tr>
                <td class="text-left hidden-xs">{{data.payment.order.shipping_item.name}}</td>
                <td class="text-right" data-label="{{data.payment.order.shipping_item.name}}"><span ng-show="data.payment.order.shipping_item.price_original > data.payment.order.shipping_item.price"><del class="discount text-danger">{{data.payment.order.tax_inclusive ? data.payment.order.shipping_item.formatted.total_original : data.payment.order.shipping_item.formatted.subtotal_original}}</del>&nbsp;</span><span class="has-price">{{data.payment.order.tax_inclusive ? data.payment.order.shipping_item.formatted.total : data.payment.order.shipping_item.formatted.subtotal}}</span></td>
            </tr>
        </tbody>
        <tbody ng-show="data.payment.order.discount > 0">
            <tr>
                <td class="text-left hidden-xs" translate>Discount</td>
                <td class="text-right text-danger" data-label="{{ 'Discount' | translate}}"><span class="has-price">-{{data.payment.order.formatted.discount}}</span></td>
            </tr>
        </tbody>
        <tbody ng-show="data.payment.order.tax > 0 && !data.payment.order.tax_inclusive">
            <tr>
                <td class="text-left hidden-xs" translate>Tax</td>
                <td class="text-right" data-label="{{ 'Tax' | translate}}"><span class="has-price">{{data.payment.order.formatted.tax}}</span></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="text-left text-lg hidden-xs"><strong translate>Total</strong></td>
                <td class="text-right text-lg" data-label="{{ 'Total' | translate}}"><span class="text-lg has-price">{{data.payment.order.formatted.total}} {{data.payment.order.currency}}</span></td>
            </tr>
            <tr ng-if="data.payment.order.tax_inclusive">
                <td class="text-right text-sm" colspan="2" translate>Your total includes {{data.payment.order.formatted.tax}} tax</td>
            </tr>
        </tbody>
    </table>

    <!--Spacer-->
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-12 text-center"><h4 translate>Thank you for your order</h4></div>
    </div>

    <!-- Analytics -->
    <script type="text/javascript" conversion="{{data.payment.order.order_id}}"></script>

    <!--Spacer-->
    <div class="row">&nbsp;</div>

</div>