<div ng-controller="InvoiceController">
    
    <!-- Must be ng-form to prevent Amazon Pay button from generating wallet in new tab when clicked twice. Bug report filed with Amazon Pay team. -->
    <ng-form name="form" shipping-is-billing="data.shipping_is_billing" customer-background-save="data.cart" params="data.params" novalidate>

        <div class="dropdown pull-right currency-button spacer-b10" uib-dropdown ng-if="settings.account.currencies.length > 1 && data.invoice.open">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                <span class="pointer">{{currency}}</span> <i class="caret"></i>
            </button>
            <ul class="dropdown-menu" currency-select as-dropdown invoice="data.invoice" error="data.error" params="data.params"></ul>
        </div>

        <div class="dropdown pull-right spacer-r10" uib-dropdown ng-if="settings.app.enable_languages">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                <i class="fa fa-globe"></i> <span class="pointer">{{language}}</span> <i class="caret"></i>
            </button>
            <ul class="dropdown-menu" language-select as-dropdown></ul>
        </div>

        <div class="row"></div>

        <div class="page-header">
            <h1 translate>Invoice</h1>
        </div>

        <div class="alert alert-danger" ng-if="data.error">
            {{data.error.message}}
        </div>

        <div class="alert alert-success text-lg" ng-show="data.invoice && data.invoice.payment_status == 'completed'" ng-cloak>
            <i class="fa fa-check-circle"></i> <span translate>Paid</span>
        </div>

        <div class="alert alert-warning text-lg" ng-if="data.invoice && data.invoice.payment_status != 'completed' && !data.invoice.open" ng-cloak>
            <i class="fa fa-minus-circle"></i> <span translate>This invoice is closed</span>
        </div>

        <div class="well header">
            <div class="spacer-b10"><strong><span>Invoice ID</span><span class="pull-right">{{data.invoice.invoice_id}}</span></strong><br /></div>
            <span translate>Due Date</span><span class="pull-right">{{data.invoice.date_due  | date:'shortDate'}}</span>
        </div>

        <div create-account customer="data.invoice.customer" options="data.invoice.options" error="data.error">

            <div class="alert alert-success account-created">
                <i class="fa fa-check-square-o fa-lg"></i> <span translate>Your account has been created.</span>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 spacer-b20">
            <span><strong translate>Billing Information</strong><br /></span>
            <span ng-if="data.invoice.customer.company_name">{{data.invoice.customer.company_name}}<br /></span>
            <span ng-if="data.invoice.customer.name">{{data.invoice.customer.billing_address.name || data.invoice.customer.name}}<br /></span>
            <span ng-if="data.invoice.customer.billing_address.address_1">{{data.invoice.customer.billing_address.address_1}}<br /></span>
            <span ng-if="data.invoice.customer.billing_address.address_2">{{data.invoice.customer.billing_address.address_2}}<br /></span>
            <span ng-if="data.invoice.customer.billing_address.city">{{data.invoice.customer.billing_address.city}}</span>
            <span ng-if="data.invoice.customer.billing_address.state_prov">{{data.invoice.customer.billing_address.state_prov}}</span>
            <span ng-if="data.invoice.customer.billing_address.postal_code">{{data.invoice.customer.billing_address.postal_code}}</span><br />
            <span ng-if="data.invoice.customer.billing_address.country">{{data.invoice.customer.billing_address.formatted.country}}<br /></span>
            <span ng-if="data.invoice.customer.email">{{data.invoice.customer.email}}</span>
        </div>

        <div class="col-xs-12 col-sm-6 spacer-b20" ng-if="data.invoice.customer.shipping_address.address_1">
            <span><strong translate>Shipping Information</strong><br /></span>
            <span ng-if="data.invoice.customer.company_name">{{data.invoice.customer.company_name}}<br /></span>
            <span ng-if="data.invoice.customer.name">{{data.invoice.customer.shipping_address.name || data.invoice.customer.name}}<br /></span>
            <span ng-if="data.invoice.customer.shipping_address.address_1">{{data.invoice.customer.shipping_address.address_1}}<br /></span>
            <span ng-if="data.invoice.customer.shipping_address.address_2">{{data.invoice.customer.shipping_address.address_2}}<br /></span>
            <span ng-if="data.invoice.customer.shipping_address.city">{{data.invoice.customer.shipping_address.city}}</span>
            <span ng-if="data.invoice.customer.shipping_address.state_prov">{{data.invoice.customer.shipping_address.state_prov}}</span>
            <span ng-if="data.invoice.customer.shipping_address.postal_code">{{data.invoice.customer.shipping_address.postal_code}}</span><br />
            <span ng-if="data.invoice.customer.shipping_address.country">{{data.invoice.customer.shipping_address.formatted.country}}<br /></span>
            <span ng-if="data.invoice.customer.email">{{data.invoice.customer.email}}</span>
        </div>

        <div class="row"></div>

        <div class="section-header">
            <span translate>Invoice Details</span>
        </div>

        <table class="cart">
            <thead>
                <tr>
                    <th ng-show="showImages" style="width: 120px;" translate>Item</th>
                    <th translate>Name</th>
                    <th translate>Quantity</th>
                    <th class="text-right" translate>Subtotal</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in data.invoice.items">
                <tr>
                    <td ng-show="showImages" class="text-left"><img class="product-icon" ng-src="{{settings.app.use_square_images ? item.product.images[0].link_square : item.product.images[0].link_small}}" /></td>
                    <td data-label="{{ 'Name' | translate}}"><strong>{{item.name}}</strong></td>
                    <td data-label="{{ 'Quantity' | translate}}"><span>{{item.quantity}}</span></td>
                    <td class="text-right has-price" data-label="{{ 'Subtotal' | translate}}"><span ng-show="item.price_original > item.price"><del class="discount text-danger">{{data.invoice.tax_inclusive ? item.formatted.total_original : item.formatted.subtotal_original}}</del>&nbsp;</span>{{data.invoice.tax_inclusive ? item.formatted.total : item.formatted.subtotal}}</td>
                </tr>
                <tr ng-if="item.subscription_terms">
                    <td colspan="4" class="text-left"><span><em>{{item.subscription_terms.description}}</em></span></td>
                </tr>
                <tr ng-if="item.download">
                    <td colspan="4" class="text-left">
                        <a class="btn btn-info" ng-href="{{item.download.link}}" translate>Download Now</a>
                    </td>
                </tr>
                <tr ng-if="item.license">
                    <td colspan="4" class="text-left">
                        <div class="alert alert-info">
                            <strong>{{item.license.label}}:</strong>&nbsp;<span ng-bind-html="item.license.html"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Spacer-->
        <div class="row">&nbsp;</div>

        <div class="section-header">
            <span translate>Invoice Summary</span>
        </div>

        <table class="tight cart">
            <tbody ng-if="!data.invoice.tax_inclusive">
                <tr>
                    <td class="text-left hidden-xs" translate>Subtotal</td>
                    <td class="text-right" data-label="{{ 'Subtotal' | translate}}"><span class="has-price">{{data.invoice.formatted.subtotal}}</span></td>
                </tr>
            </tbody>
            <tbody ng-show="data.invoice.shipping_item">
                <tr>
                    <td class="text-left hidden-xs">{{data.invoice.shipping_item.name}}</td>
                    <td class="text-right" data-label="{{data.invoice.shipping_item.name}}"><span ng-show="data.invoice.shipping_item.price_original > data.invoice.shipping_item.price"><del class="discount text-danger">{{data.invoice.tax_inclusive ? data.invoice.shipping_item.formatted.total_original : data.invoice.shipping_item.formatted.subtotal_original}}</del>&nbsp;</span><span class="has-price">{{data.invoice.tax_inclusive ? data.invoice.shipping_item.formatted.total : data.invoice.shipping_item.formatted.subtotal}}</span></td>
                </tr>
            </tbody>
            <tbody ng-show="data.invoice.discount > 0">
                <tr>
                    <td class="text-left hidden-xs" translate>Discount</td>
                    <td class="text-right text-danger" data-label="{{ 'Discount' | translate}}"><span class="has-price">-{{data.invoice.formatted.discount}}</span></td>
                </tr>
            </tbody>
            <tbody ng-show="data.invoice.tax > 0 && !data.invoice.tax_inclusive">
                <tr>
                    <td class="text-left hidden-xs" translate>Tax</td>
                    <td class="text-right" data-label="{{ 'Tax' | translate}}"><span class="has-price">{{data.invoice.formatted.tax}}</span></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-left text-lg hidden-xs"><strong translate>Total</strong></td>
                    <td class="text-right text-lg" data-label="{{ 'Total' | translate}}"><span class="text-lg has-price">{{data.invoice.formatted.total}} {{data.invoice.currency}}</span></td>
                </tr>
                <tr ng-if="data.invoice.tax_inclusive">
                    <td class="text-right text-sm" colspan="2" translate>Your total includes {{data.invoice.formatted.tax}} tax</td>
                </tr>
            </tbody>
        </table>

        <div class="row"></div>

        <div ng-show="data.invoice.open">

            <!--Payment Info-->
            <div class="section-header">
                <span translate>Payment Details</span>
            </div>

            <!-- Wallet Buttons -->
            <ul class="payment-methods" ng-show="!data.amazon_pay.data">
                <!-- PayPal -->
                <li ng-show="helpers.supportsPaymentMethod('paypal', data.invoice.options)">
                    <img submit-payment="data.paypal" class="pointer" invoice="data.invoice" on-success="onPaymentSuccess" error="data.error" src="images/paypal_checkout.png" />
                </li>
                <!-- Amazon Pay Button -->
                <li ng-show="helpers.supportsPaymentMethod('amazon_pay', data.invoice.options)">
                    <a id="amazon_pay_button" amazon-pay-button payment-method="data.amazon_pay" options="data.invoice.options" items="data.invoice.items" amazon-pay-address-id="apaddress" amazon-pay-wallet-id="apwallet" amazon-pay-consent-id="apconsent" get-consent-status="getConsentStatus" amazon-pay-button-size="small">
                        <img class="alt-amazonpay-button-inner-image" src="images/amazonpay_checkout.png">
                    </a>
                </li>
            </ul>

            <!-- Amazon Pay Widgets -->
            <div class="row spacer-t20 spacer-b20" id="widgets" ng-show="helpers.supportsPaymentMethod('amazon_pay', data.invoice.options) && data.amazon_pay.data">
                <div class="col-md-6 col-xs-12">
                    <div id="apaddress" style="width:100%; height:230px; margin-top:20px; display:none;"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="apwallet" style="width:100%; height:230px; margin-top:20px; display:none;"></div>
                </div>
                <div class="col-xs-12">
                    <div id="apconsent" style="width:100%; height:100px; margin-top:20px; display:none;"></div>
                </div>
                <div class="col-xs-12 spacer-b20 spacer-t20 text-right">
                    <button type="button" class="btn btn-info btn-md right" submit-payment="data.amazon_pay" invoice="data.invoice" get-consent-status="getConsentStatus" on-success="onPaymentSuccess" error="data.error" translate>Continue</button>
                </div>
                <div class="col-xs-12">
                    <div class="faux-link" amazon-pay-reset payment-method="data.amazon_pay" translate>Use another payment method</div>
                </div>
            </div>

            <div ng-show="!data.amazon_pay.data">

                <!-- If a logged in customer -->
                <div ng-show="data.invoice.customer.payment_methods.data.length > 0">
                    <h4 translate>Choose a Payment Method</h4>

                    <div class="well clearfix" ng-repeat="method in data.invoice.customer.payment_methods.data" ng-show="method.type == 'credit_card' || method.type == 'paypal' || method.type == 'amazon_pay'">

                        <span class="radio-group inline" ng-if="method.type == 'credit_card'">
                            <input type="radio" class="radio" name="payment_method" id="payment_method-{{method.payment_method_id}}" ng-model="data.payment_method.payment_method_id" value="{{method.payment_method_id}}" ng-checked="data.payment_method.payment_method_id == method.payment_method_id" ng-click="setPaymentMethod(method.payment_method_id, method.type)" />
                            <label for="payment_method-{{method.payment_method_id}}" class="radio-label strong">{{method.data.label}} (<span>exp.</span> {{method.data.exp_month}}/{{method.data.exp_year}})</label>
                            <span class="pull-right credit-card-image" credit-card-image="method.data.type"></span>
                        </span>

                        <span class="radio-group inline" ng-if="method.type != 'credit_card'">
                            <input type="radio" class="radio" name="payment_method" id="payment_method-{{method.payment_method_id}}" ng-model="data.payment_method.payment_method_id" value="{{method.payment_method_id}}" ng-checked="data.payment_method.payment_method_id == method.payment_method_id" ng-click="setPaymentMethod(method.payment_method_id, method.type)" />
                            <label for="payment_method-{{method.payment_method_id}}" class="radio-label strong">
                                <span ng-show="method.type == 'paypal'">PayPal</span>
                                <span ng-show="method.type == 'amazon_pay'">Amazon Pay</span>
                            </label>
                            <span class="pull-right credit-card-image" credit-card-image="'paypal'" ng-show="method.type == 'paypal'"></span>
                            <span class="pull-right credit-card-image" credit-card-image="'amazon_pay'" ng-show="method.type == 'amazon_pay'"></span>
                        </span>

                    </div>

                    <div class="well clearfix">
                        <span class="radio-group inline">
                            <input type="radio" class="radio" name="payment_method" id="payment_method-new" ng-model="data.payment_method.payment_method_id" ng-checked="data.payment_method.payment_method_id == null" ng-click="setPaymentMethod(null, 'credit_card')" />
                            <label for="payment_method-new" class="radio-label strong" translate>Pay with a new card</label>
                        </span>
                    </div>

                </div>

                <div ng-show="!data.payment_method.payment_method_id">
                    <div class="col-xs-12">
                        <div class="form-group" show-errors="data.invoice.options">
                            <label class="control-label required" for="card_number" translate>Card Number</label>
                            <div class="inner-addon left-addon">
                                <i class="fa fa-credit-card"></i>
                                <input class="form-control" name="card_number" type="tel" ng-model="data.payment_method.data.number" validate-card ng-required="!data.payment_method.payment_method_id">
                            </div>
                            <p class="error-block hidden" translate>Please provide a valid card number</p>
                        </div>
                    </div>

                    <div class="col-xs-12 credit-cards" credit-cards="data.invoice.options.card_types"></div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group" show-errors="data.invoice.options">
                            <label class="control-label required" for="exp_month" translate>Expiration Month</label>
                            <input ng-if="!settings.app.exp_select" class="form-control" name="exp_month" type="tel" ng-model="data.payment_method.data.exp_month" placeholder="MM" validate-exp-month ng-required="!data.payment_method.payment_method_id">
                            <select ng-if="settings.app.exp_select" name="exp_month" class="form-control" ng-model="data.payment_method.data.exp_month" ng-options="n for n in [] | range:1:12:true" validate-exp-month ng-required="!data.payment_method.payment_method_id"></select>
                            <p class="error-block hidden" translate>Please provide a valid expiration month</p>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group" show-errors="data.invoice.options">
                            <label class="control-label required" for="exp_year" translate>Expiration Year</label>
                            <input ng-if="!settings.app.exp_select" class="form-control" name="exp_year" type="tel" ng-model="data.payment_method.data.exp_year" placeholder="YY" validate-exp-year ng-required="!data.payment_method.payment_method_id">
                            <select ng-if="settings.app.exp_select" name="exp_year" class="form-control" ng-model="data.payment_method.data.exp_year" ng-options="n for n in [] | range:settings.account.year:(settings.account.year + 15)" validate-exp-year ng-required="!data.payment_method.payment_method_id"></select>
                            <p class="error-block hidden" translate>Please provide a valid expiration year</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" show-errors="data.invoice.options">
                            <label class="control-label required" for="cvv" translate>Security Code</label>
                            <input class="form-control" name="cvv" type="tel" ng-model="data.payment_method.data.cvv" validate-cvv ng-required="!data.payment_method.payment_method_id">
                            <p class="error-block hidden" translate>Please provide a valid security code</p>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-show="helpers.hasSubscription(data.invoice.items) == false && settings.account.allow_save_cards == true && settings.app.ask_save_cards == true">
                        <div class="form-group checkbox-group">
                            <input type="checkbox" id="save-card" class="checkbox" name="save-card" ng-model="data.payment_method.save">
                            <label for="save-card" class="checkbox-label" translate>Save this card to my account</label>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 spacer-b20 spacer-t20 text-right">
                    <button type="button" class="btn btn-success btn-lg right" validate-on-submit submit-payment="data.payment_method" invoice="data.invoice" on-success="onPaymentSuccess" error="data.error" translate>Complete Payment</button>
                </div>

            </div>

        </div>

        <!--Spacer-->
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-xs-12 text-center"><h4 translate>Thank you for your business</h4></div>
        </div>

        <!--Spacer-->
        <div class="row">&nbsp;</div>

    </ng-form>

</div>