<div ng-controller="CartController">

    <!-- Custom Header, if supplied -->
    <custom-html html="settings.app.header_html"></custom-html>

    <div class="container container-content">

        <div class="panel panel-default panel-boxed panel-content">

            <!-- Boxed Header -->
            <div class="panel-heading" ng-cloak>
                <img ng-src="{{settings.app.logo}}" ng-if="settings.app.logo">
                <span ng-if="!settings.app.logo" class="company-name">{{settings.app.company_name}}</span>
            </div>

            <div class="panel-body">

                <!-- Must be ng-form to prevent Amazon Pay button from generating wallet in new tab when clicked twice. Bug report filed with Amazon Pay team. -->
                <ng-form name="form" shipping-is-billing="data.shipping_is_billing" customer-background-save="data.cart" params="data.params" novalidate>

                    <div class="dropdown pull-right currency-button spacer-b10" uib-dropdown ng-if="settings.account.currencies.length > 1">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                            <span class="pointer">{{currency}}</span> <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu" currency-select as-dropdown cart="data.cart" error="data.error" params="data.params"></ul>
                    </div>

                    <div class="dropdown pull-right spacer-r10" uib-dropdown ng-if="settings.app.enable_languages">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                            <i class="fa fa-globe"></i> <span class="pointer">{{language}}</span> <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu" language-select as-dropdown></ul>
                    </div>

                    <div class="row"></div>

                    <div class="page-header">
                        <h1 translate>Your Order</h1>
                    </div>

                    <div class="alert alert-danger" ng-if="data.error">
                        {{data.error.message}}
                    </div>

                    <div class="row" ng-if="data.cart.items.length == 0">
                        <div class="col-xs-12 text-center">
                            <h3 translate>There are no items in your cart</h3>
                            <a class="btn btn-success btn-lg spacer-t40 spacer-b40" href="{{helpers.getShoppingUrl()}}" translate>Continue Shopping</a>
                        </div>
                    </div>

                    <div ng-show="data.cart.items.length > 0">

                        <table class="cart">
                            <thead>
                                <tr>
                                    <th ng-if="showImages" style="width: 120px;" translate>Item</th>
                                    <th translate>Name</th>
                                    <th class="text-center" translate ng-if="!settings.app.hide_quantity">Quantity</th>
                                    <th class="text-right" translate>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in data.cart.items">
                                <tr>
                                    <td ng-if="showImages" class="text-left"><img class="product-icon" ng-src="{{settings.app.use_square_images ? item.product.images[0].link_square : item.product.images[0].link_small}}" /></td>
                                    <td data-label="{{ 'Name' | translate}}"><strong>{{item.name}}</strong></td>
                                    <td class="text-center has-input" data-label="{{ 'Quantity' | translate}}" ng-if="!settings.app.hide_quantity">
                                        <div class="quantity-stepper-wrapper">
                                            <div class="input-group quantity-stepper">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="changeQuantity(item, '-')">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </span>
                                                <input type="tel" name="quantity" ng-model="item.quantity" class="form-control quantity" is-valid-integer min="0" max="9999" select-on-click ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="changeQuantity(item, null, item.quantity)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="changeQuantity(item, '+')">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="remove-link faux-link" ng-click="changeQuantity(item, null, 0)"><span translate>Remove</span></span>
                                    </td>
                                    <td class="text-right has-price" data-label="{{ 'Subtotal' | translate}}"><span ng-show="item.price_original > item.price"><del class="discount text-danger">{{data.cart.tax_inclusive ? item.formatted.total_original : item.formatted.subtotal_original}}</del>&nbsp;</span>{{data.cart.tax_inclusive ? item.formatted.total : item.formatted.subtotal}}</td>
                                </tr>
                                <tr ng-if="item.subscription_terms">
                                    <td colspan="4" class="text-left"><span><em>{{item.subscription_terms.description}}</em></span></td>
                                </tr>
                            </tbody>
                        </table>

                        <table ng-show="data.cart.discount > 0">
                            <tbody>
                                <tr>
                                    <td class="text-left hidden-xs"><strong translate>Discount</strong></td>
                                    <td class="text-right has-price" data-label="{{ 'Discount' | translate}}"><span class="text-danger">-{{data.cart.formatted.discount}}</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!--  Promo Code -->
                        <div class="spacer-t20 promo-code" ng-cloak promo-code cart="data.cart" error="data.error" params="data.params" ng-if="settings.app.show_promo_code">
                            <label class="ask-promo-code"><span translate>Enter</span> {{settings.app.promo_code_name}}</label>
                            <div class="form-inline spacer-b15 supply-promo-code">
                                <input class="form-control" type="text" placeholder="{{settings.app.promo_code_name}}">
                                <button type="submit" class="btn btn-info apply-promo-code" translate>Apply</button>
                            </div>
                            <div class="alert alert-success spacer-b5 applied-promo-code">
                                <i class="fa fa-check-square-o fa-lg"></i> <span translate>Discount applied.</span> <strong class="text-success hidden-xs">{{data.cart.promotion_code}}</strong><button type="button" class="close remove-promo-code"><span>×</span></button>
                            </div>
                        </div>

                        <!-- Wallet Buttons -->
                        <ul class="payment-methods" ng-show="!data.amazon_pay.data">
                            <!-- PayPal -->
                            <li ng-show="helpers.supportsPaymentMethod('paypal', data.cart.options)">
                                <img submit-payment="data.paypal" class="pointer" cart="data.cart" on-success="onPaymentSuccess" error="data.error" src="images/paypal_checkout.png" />
                            </li>
                            <!-- Amazon Pay Button -->
                            <li ng-show="helpers.supportsPaymentMethod('amazon_pay', data.cart.options)">
                                <a id="amazon_pay_button" amazon-pay-button payment-method="data.amazon_pay" options="data.cart.options" items="data.cart.items" amazon-pay-address-id="apaddress" amazon-pay-wallet-id="apwallet" amazon-pay-consent-id="apconsent" get-consent-status="getConsentStatus" amazon-pay-button-size="small">
                                    <img class="alt-amazonpay-button-inner-image" src="images/amazonpay_checkout.png">
                                </a>
                            </li>
                        </ul>

                        <!-- Amazon Pay Widgets -->
                        <div id="widgets" ng-show="helpers.supportsPaymentMethod('amazon_pay', data.cart.options) && data.amazon_pay.data">
                            <div class="col-md-6 col-xs-12">
                                <div id="apaddress" style="width:100%; height:230px; margin-top:20px; display:none;"></div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div id="apwallet" style="width:100%; height:230px; margin-top:20px; display:none;"></div>
                            </div>
                            <div class="col-xs-12">
                                <div id="apconsent" style="width:100%; height:100px; margin-top:20px; display:none;"></div>
                            </div>
                            <div class="col-xs-12 spacer-b20 spacer-t20 text-right">
                                <button type="button" class="btn btn-info btn-md right" submit-payment="data.amazon_pay" cart="data.cart" get-consent-status="getConsentStatus" on-success="onPaymentSuccess" error="data.error" translate>Continue</button>
                            </div>
                            <div class="col-xs-12">
                                <div class="faux-link" amazon-pay-reset payment-method="data.amazon_pay" translate>Use another payment method</div>
                            </div>
                        </div>

                        <div class="row" ng-show="settings.app.show_continue_shopping">
                            <div class="col-xs-12 text-center">
                                <a class="btn btn-success btn-lg spacer-t40 spacer-b40" href="{{helpers.getShoppingUrl()}}" translate>Continue Shopping</a>
                            </div>
                        </div>

                    </div>

                    <div class="row"></div>

                    <div ng-show="data.cart.items.length > 0 && !data.amazon_pay.data">

                        <div class="section-header">
                            <span translate>Your Information</span>
                        </div>

                        <!-- Login option -->
                        <div customer-signin cart="data.cart" options="data.cart.options" payment-method="data.payment_method" on-signout-success="onSignOut" error="data.error" params="data.params">

                            <div class="well header clearfix ask-signin">
                                <strong><span translate>Have an account?</span></strong>
                                <strong><a class="pointer pull-right show-signin" translate>Sign In</a></strong>
                            </div>

                            <div class="well header clearfix supply-signin">
                                <div class="col-xs-12 col-md-6" id="un">
                                    <div class="form-group">
                                        <label class="control-label" for="un" translate>Username</label>
                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control signin-username" name="un" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6" id="pw">
                                    <div class="form-group">
                                        <label class="control-label" for="pw" translate>Password</label>
                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-lock"></i>
                                            <input class="form-control signin-password" name="pw" type="password">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default btn-sm cancel-signin" translate>Cancel</button>
                                    <button type="submit" class="btn btn-info btn-sm submit-signin" customer-login cart="data.cart" username="data.un" password="data.pw" error="data.error" translate>Sign In</button>
                                </div>

                            </div>

                            <div class="well header signed-in">
                                <span>Signed in as {{data.cart.customer.username}}</span><strong><a class="pointer pull-right submit-signout" customer-logout cart="data.cart" error="data.error" translate>Sign out</a></strong>
                            </div>

                        </div>

                        <h4 translate>Billing Address</h4>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('name', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="name" translate>Full Name</label>
                                <input class="form-control customer-background-save" name="name" type="text" ng-model="data.cart.customer.name" ng-required="helpers.isRequiredCustomerField('name', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a name</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('email', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="email" translate>Email</label>
                                <input class="form-control customer-background-save" name="email" type="email" ng-model="data.cart.customer.email" ng-required="helpers.isRequiredCustomerField('email', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a valid email address</p>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="col-xs-12" ng-show="helpers.isCustomerField('company_name', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="company_name" translate>Company Name</label>
                                <input class="form-control customer-background-save" name="company_name" type="text" ng-model="data.cart.customer.company_name" ng-required="helpers.isRequiredCustomerField('company_name', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a company name</p>
                            </div>
                        </div>

                        <div class="col-xs-12" ng-show="helpers.isCustomerField('phone', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="phone" translate>Phone</label>
                                <input class="form-control customer-background-save" name="phone" type="text" ng-model="data.cart.customer.phone" ng-required="helpers.isRequiredCustomerField('phone', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a phone</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('billing_address.address_1', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="billing_address[address_1]" translate>Address</label>
                                <input class="form-control customer-background-save" name="billing_address[address_1]" type="text" ng-model="data.cart.customer.billing_address.address_1" ng-required="helpers.isRequiredCustomerField('billing_address.address_1', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide an address</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('billing_address.address_2', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="billing_address[address_2]" translate>Address 2</label>
                                <input class="form-control customer-background-save" name="billing_address[address_2]" type="text" ng-model="data.cart.customer.billing_address.address_2" ng-required="helpers.isRequiredCustomerField('billing_address.address_2', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide an address</p>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="col-xs-12" ng-show="helpers.isCustomerField('billing_address.city', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="billing_address[city]" translate>City</label>
                                <input class="form-control customer-background-save" name="billing_address[city]" type="text" ng-model="data.cart.customer.billing_address.city" ng-required="helpers.isRequiredCustomerField('billing_address.city', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a city</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('billing_address.state_prov', data.cart.options)">
                            <div class="form-group" ng-if="geoService.getStatesProvs(data.cart.customer.billing_address.country) != null" show-errors refresh-on-change="helpers.isRequiredCustomerField('billing_address.state_prov', data.cart.options)">
                                <label class="control-label" for="billing_address[state_prov]" translate>State / Province</label>
                                <select select-state-prov class="form-control customer-background-save" name="billing_address[state_prov]" ng-model="data.cart.customer.billing_address.state_prov" country="data.cart.customer.billing_address.country" ng-required="helpers.isRequiredCustomerField('billing_address.state_prov', data.cart.options) && geoService.getStatesProvs(data.cart.customer.billing_address.country) != null"></select>
                                <p class="error-block hidden" translate>Please provide a state / province</p>
                            </div>

                            <div class="form-group" ng-if="geoService.getStatesProvs(data.cart.customer.billing_address.country) == null" show-errors refresh-on-change="helpers.isRequiredCustomerField('billing_address.state_prov', data.cart.options)">
                                <label class="control-label" for="billing_address[state_prov]" translate>Region / Province</label>
                                <input type="text" class="form-control customer-background-save" name="billing_address[state_prov]" ng-model="data.cart.customer.billing_address.state_prov" country="data.cart.customer.billing_address.country" ng-required="helpers.isRequiredCustomerField('billing_address.state_prov', data.cart.options) && geoService.getStatesProvs(data.cart.customer.billing_address.country) != null">
                                <p class="error-block hidden" translate>Please provide a region / province</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('billing_address.postal_code', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="billing_address[postal_code]" translate>Zip / Postal Code</label>
                                <input class="form-control customer-background-save" name="billing_address[postal_code]" type="text" ng-model="data.cart.customer.billing_address.postal_code" ng-required="helpers.isRequiredCustomerField('billing_address.postal_code', data.cart.options)">
                                <p class="error-block hidden" translate>Please provide a zip / postal code</p>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="col-xs-12" ng-show="helpers.isCustomerField('billing_address.country', data.cart.options)">
                            <div class="form-group" show-errors="data.cart.options">
                                <label class="control-label" for="billing_address[country]" translate>Country</label>
                                <select class="form-control customer-background-save" name="billing_address[country]" customer-countries="data.cart.options.allowed_customer_countries" ng-model="data.cart.customer.billing_address.country" ng-required="helpers.isRequiredCustomerField('billing_address.country', data.cart.options)"></select>
                                <p class="error-block hidden" translate>Please provide a country</p>
                            </div>
                        </div>

                        <!--Spacer-->
                        <div class="row">&nbsp;</div>

                        <!--Shipping Address-->
                        <div ng-show="helpers.hasPhysical(data.cart.items) == true">
                            <h4 translate>Shipping Address</h4>

                            <div class="col-xs-12">
                                <div class="form-group checkbox-group" show-errors="data.cart.options">
                                    <input type="checkbox" id="shipping-is-billing" class="checkbox customer-background-save" name="shipping-is-billing" ng-model="data.shipping_is_billing">
                                    <label for="shipping-is-billing" class="checkbox-label" translate>Shipping is same as billing</label>
                                </div>
                            </div>

                            <div class="col-xs-12" ng-show="helpers.isCustomerField('shipping_address.name', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[name]" translate>Full Name</label>
                                    <input class="form-control customer-background-save" name="shipping_address[name]" type="text" ng-model="data.cart.customer.shipping_address.name" ng-required="helpers.isRequiredCustomerField('shipping_address.name', data.cart.options, data.shipping_is_billing)">
                                    <p class="error-block hidden" translate>Please provide a name</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('shipping_address.address_1', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[address_1]" translate>Address</label>
                                    <input class="form-control customer-background-save" name="shipping_address[address_1]" type="text" ng-model="data.cart.customer.shipping_address.address_1" ng-required="helpers.isRequiredCustomerField('shipping_address.address_1', data.cart.options, data.shipping_is_billing)">
                                    <p class="error-block hidden" translate>Please provide an address</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('shipping_address.address_2', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[address_2]" translate>Address 2</label>
                                    <input class="form-control customer-background-save" name="shipping_address[address_2]" type="text" ng-model="data.cart.customer.shipping_address.address_2" ng-required="helpers.isRequiredCustomerField('shipping_address.address_2', data.cart.options, data.shipping_is_billing)">
                                    <p class="error-block hidden" translate>Please provide an address</p>
                                </div>
                            </div>

                            <div class="row"></div>

                            <div class="col-xs-12" ng-show="helpers.isCustomerField('shipping_address.city', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[city]" translate>City</label>
                                    <input class="form-control customer-background-save" name="shipping_address[city]" type="text" ng-model="data.cart.customer.shipping_address.city" ng-required="helpers.isRequiredCustomerField('shipping_address.city', data.cart.options, data.shipping_is_billing)">
                                    <p class="error-block hidden" translate>Please provide a city</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('shipping_address.state_prov', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" ng-if="geoService.getStatesProvs(data.cart.customer.shipping_address.country) != null" show-errors refresh-on-change="helpers.isRequiredCustomerField('shipping_address.state_prov', data.cart.options)">
                                    <label class="control-label" for="shipping_address[state_prov]" translate>State / Province</label>
                                    <select select-state-prov class="form-control customer-background-save" name="shipping_address[state_prov]" ng-model="data.cart.customer.shipping_address.state_prov" country="data.cart.customer.shipping_address.country" ng-required="helpers.isRequiredCustomerField('shipping_address.state_prov', data.cart.options, data.shipping_is_billing) && geoService.getStatesProvs(data.cart.customer.shipping_address.country) != null"></select>
                                    <p class="error-block hidden" translate>Please provide a state / province</p>
                                </div>

                                <div class="form-group" ng-if="geoService.getStatesProvs(data.cart.customer.shipping_address.country) == null" show-errors refresh-on-change="helpers.isRequiredCustomerField('shipping_address.state_prov', data.cart.options)">
                                    <label class="control-label" for="shipping_address[state_prov]" translate>Region / Province</label>
                                    <input type="text" class="form-control customer-background-save" name="shipping_address[state_prov]" ng-model="data.cart.customer.shipping_address.state_prov" country="data.cart.customer.shipping_address.country" ng-required="helpers.isRequiredCustomerField('shipping_address.state_prov', data.cart.options, data.shipping_is_billing) && geoService.getStatesProvs(data.cart.customer.shipping_address.country) != null">
                                    <p class="error-block hidden" translate>Please provide a region / province</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6" ng-show="helpers.isCustomerField('shipping_address.postal_code', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[postal_code]" translate>Zip / Postal Code</label>
                                    <input class="form-control customer-background-save" name="shipping_address[postal_code]" type="text" ng-model="data.cart.customer.shipping_address.postal_code" ng-required="helpers.isRequiredCustomerField('shipping_address.postal_code', data.cart.options, data.shipping_is_billing)">
                                    <p class="error-block hidden" translate>Please provide a zip / postal code</p>
                                </div>
                            </div>

                            <div class="row"></div>

                            <div class="col-xs-12" ng-show="helpers.isCustomerField('shipping_address.country', data.cart.options, data.shipping_is_billing)">
                                <div class="form-group" show-errors refresh-on-change="data.shipping_is_billing">
                                    <label class="control-label" for="shipping_address[country]" translate>Country</label>
                                    <select class="form-control customer-background-save" name="shipping_address[country]" customer-countries="data.cart.options.allowed_customer_countries" ng-model="data.cart.customer.shipping_address.country" ng-required="helpers.isRequiredCustomerField('shipping_address.country', data.cart.options, data.shipping_is_billing)"></select>
                                    <p class="error-block hidden" translate>Please provide a country</p>
                                </div>
                            </div>

                            <!--Spacer-->
                            <div class="row"></div>

                        </div>

                        <div class="col-xs-12 col-md-6" ng-show="geoService.isEu(data.cart.customer.shipping_address.country) || geoService.isEu(data.cart.customer.billing_address.country)">
                            <div class="form-group" show-errors>
                                <label class="control-label" for="tax_number" translate>VAT Number</label>
                                <div class="form-inline">
                                    <input class="form-control" name="tax_number" type="text" placeholder="{{'Optional' | translate}}" ng-model="data.cart.customer.tax_number">
                                    <button type="button" class="btn btn-info right" update-cart="data.cart" error="data.error" params="data.params" translate>Apply</button>
                                </div>
                                <p class="help-block" translate>If this order is for a business, please provide your VAT Number.</p>
                            </div>
                        </div>

                        <!--Spacer-->
                        <div class="row"></div>

                        <div ng-if="data.cart.options.shipping_quotes.length > 1">

                            <div class="section-header">
                                <span translate>Shipping</span>
                            </div>
                            <div class="radio-group" ng-repeat="method in data.cart.options.shipping_quotes">
                                <div class="col-xs-12 col-md-8 padding-t15 padding-b15">
                                    <input type="radio" id="shipping-method-{{method.method_id}}" class="radio" name="shippimg-method" shipping-radio="{{method.method_id}}" sale="data.cart" sale-type="cart" params="data.params" ng-checked="data.cart.shipping_item.item_id == method.method_id">
                                    <label for="shipping-method-{{method.method_id}}" class="radio-label">{{method.description}}</label>&nbsp;<span class="radio-group-description" ng-if="method.details">{{method.details}}</span>
                                </div>
                                <div class="col-xs-12 col-md-4 has-price padding-t15 padding-b15 text-right"><span ng-show="method.price_original > method.price"><del class="discount text-danger">{{data.cart.tax_inclusive ? method.formatted.total_original : method.formatted.price_original}}</del>&nbsp;</span>{{data.cart.tax_inclusive ? method.formatted.total : method.formatted.price}}</div>
                            </div>
                        </div>

                        <div class="row"></div>

                        <div class="section-header">
                            <span translate>Order Summary</span>
                        </div>

                        <table class="tight cart">
                            <tbody>
                                <tr ng-if="!data.cart.tax_inclusive">
                                    <td class="text-left hidden-xs" translate>Subtotal</td>
                                    <td class="text-right" data-label="{{ 'Subtotal' | translate}}"><span class="has-price">{{data.cart.formatted.subtotal}}</span></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.cart.shipping_item">
                                <tr>
                                    <td ng-if="data.cart.options.shipping_quotes.length > 1" class="text-left hidden-xs" translate>Shipping</td>
                                    <td ng-if="data.cart.options.shipping_quotes.length <= 1" class="text-left hidden-xs">{{data.cart.shipping_item.name}}</td>
                                    <td class="text-right" data-label="{{data.cart.shipping_item.name}}"><span ng-show="data.cart.shipping_item.price_original > data.cart.shipping_item.price"><del class="discount text-danger">{{data.cart.tax_inclusive ? data.cart.shipping_item.formatted.total_original : data.cart.shipping_item.formatted.subtotal_original}}</del>&nbsp;</span><span class="has-price">{{data.cart.tax_inclusive ? data.cart.shipping_item.formatted.total : data.cart.shipping_item.formatted.subtotal}}</span></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.cart.discount > 0">
                                <tr>
                                    <td class="text-left hidden-xs" translate>Discount</td>
                                    <td class="text-right text-danger" data-label="{{ 'Discount' | translate}}"><span class="has-price">-{{data.cart.formatted.discount}}</span></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.cart.tax > 0 && !data.cart.tax_inclusive">
                                <tr>
                                    <td class="text-left hidden-xs" translate>Tax</td>
                                    <td class="text-right" data-label="{{ 'Tax' | translate}}"><span class="has-price">{{data.cart.formatted.tax}}</span></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="text-left text-lg hidden-xs"><strong translate>Total</strong></td>
                                    <td class="text-right text-lg" data-label="{{ 'Total' | translate}}"><span class="text-lg has-price">{{data.cart.formatted.total}} {{data.cart.currency}}</span></td>
                                </tr>
                                <tr ng-if="data.cart.tax_inclusive">
                                    <td class="text-right text-sm" colspan="2" translate>Your total includes {{data.cart.formatted.tax}} tax</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Custom fields -->
                        <fields fieldlist="settings.app.fields" sale="data.cart"></fields>

                        <!--Payment Info-->
                        <div class="section-header">
                            <span translate>Payment Details</span>
                        </div>

                        <!-- If a logged in customer -->
                        <div ng-show="data.cart.customer.payment_methods.data.length > 0">
                            <h4 translate>Choose a Payment Method</h4>

                            <div class="well clearfix" ng-repeat="method in data.cart.customer.payment_methods.data" ng-show="method.type == 'credit_card' || method.type == 'paypal' || method.type == 'amazon_pay'">

                                <span class="radio-group inline" ng-if="method.type == 'credit_card'">
                                    <input type="radio" class="radio" name="payment_method" id="payment_method-{{method.payment_method_id}}" ng-model="data.payment_method.payment_method_id" value="{{method.payment_method_id}}" ng-checked="data.payment_method.payment_method_id == method.payment_method_id" ng-click="setPaymentMethod(method.payment_method_id, method.type)" />
                                    <label for="payment_method-{{method.payment_method_id}}" class="radio-label strong">{{method.data.label}} (<span>exp.</span> {{method.data.exp_month}}/{{method.data.exp_year}})</label>
                                    <span class="pull-right credit-card-image" credit-card-image="method.data.type"></span>
                                </span>

                                <span class="radio-group inline" ng-if="method.type != 'credit_card'">
                                    <input type="radio" class="radio" name="payment_method" id="payment_method-{{method.payment_method_id}}" ng-model="data.payment_method.payment_method_id" value="{{method.payment_method_id}}" ng-checked="data.payment_method.payment_method_id == method.payment_method_id" ng-click="setPaymentMethod(method.payment_method_id, method.type)" />
                                    <label for="payment_method-{{method.payment_method_id}}" class="radio-label strong">
                                        <span ng-show="method.type == 'paypal'">PayPal</span>
                                        <span ng-show="method.type == 'amazon_pay'">Amazon Pay</span>
                                    </label>
                                    <span class="pull-right credit-card-image" credit-card-image="'paypal'" ng-show="method.type == 'paypal'"></span>
                                    <span class="pull-right credit-card-image" credit-card-image="'amazon_pay'" ng-show="method.type == 'amazon_pay'"></span>
                                </span>

                            </div>

                            <div class="well clearfix">
                                <span class="radio-group inline">
                                    <input type="radio" class="radio" name="payment_method" id="payment_method-new" ng-model="data.payment_method.payment_method_id" ng-checked="data.payment_method.payment_method_id == null" ng-click="setPaymentMethod(null, 'credit_card')" />
                                    <label for="payment_method-new" class="radio-label strong" translate>Pay with a new card</label>
                                </span>
                            </div>

                        </div>

                        <div ng-if="!data.payment_method.payment_method_id">
                            <div class="col-xs-12">
                                <div class="form-group" show-errors="data.cart.options">
                                    <label class="control-label required" for="card_number" translate>Card Number</label>
                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-credit-card"></i>
                                        <input class="form-control" name="card_number" type="tel" ng-model="data.payment_method.data.number" validate-card ng-required="!data.payment_method.payment_method_id">
                                    </div>
                                    <p class="error-block hidden" translate>Please provide a valid card number</p>
                                </div>
                            </div>

                            <div class="col-xs-12 credit-cards" credit-cards="data.cart.options.card_types"></div>

                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group" show-errors="data.cart.options">
                                    <label class="control-label required" for="exp_month" translate>Expiration Month</label>
                                    <input ng-if="!settings.app.exp_select" class="form-control" name="exp_month" type="tel" ng-model="data.payment_method.data.exp_month" placeholder="MM" validate-exp-month ng-required="!data.payment_method.payment_method_id">
                                    <select ng-if="settings.app.exp_select" name="exp_month" class="form-control" ng-model="data.payment_method.data.exp_month" ng-options="n for n in [] | range:1:12:true" validate-exp-month ng-required="!data.payment_method.payment_method_id"></select>
                                    <p class="error-block hidden" translate>Please provide a valid expiration month</p>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group" show-errors="data.cart.options">
                                    <label class="control-label required" for="exp_year" translate>Expiration Year</label>
                                    <input ng-if="!settings.app.exp_select" class="form-control" name="exp_year" type="tel" ng-model="data.payment_method.data.exp_year" placeholder="YY" validate-exp-year ng-required="!data.payment_method.payment_method_id">
                                    <select ng-if="settings.app.exp_select" name="exp_year" class="form-control" ng-model="data.payment_method.data.exp_year" ng-options="n for n in [] | range:settings.account.year:(settings.account.year + 15)" validate-exp-year ng-required="!data.payment_method.payment_method_id"></select>
                                    <p class="error-block hidden" translate>Please provide a valid expiration year</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group" show-errors="data.cart.options">
                                    <label class="control-label required" for="cvv" translate>Security Code</label>
                                    <input class="form-control" name="cvv" type="tel" ng-model="data.payment_method.data.cvv" validate-cvv ng-required="!data.payment_method.payment_method_id" maxlength="4">
                                    <p class="error-block hidden" translate>Please provide a valid security code</p>
                                </div>
                            </div>

                            <div class="col-xs-12" ng-show="helpers.hasSubscription(data.cart.items) == false && settings.account.allow_save_cards == true && settings.app.ask_save_cards == true">
                                <div class="form-group checkbox-group">
                                    <input type="checkbox" id="save-card" class="checkbox" name="save-card" ng-model="data.payment_method.save">
                                    <label for="save-card" class="checkbox-label" translate>Save this card to my account</label>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 spacer-b20 spacer-t20 text-right">
                            <button type="button" class="btn btn-success btn-lg right" validate-on-submit submit-payment="data.payment_method" cart="data.cart" shipping-is-billing="data.shipping_is_billing" on-success="onPaymentSuccess" error="data.error" translate>Complete Order</button>
                        </div>

                        <!--Spacer-->
                        <div class="row">&nbsp;</div>
                    </div>

                </ng-form>

            </div>

            <!-- Boxed Footer -->
            <div class="panel-footer" ng-cloak>
                <p ng-bind-html="settings.app.footer_text"></p>
                <p translate>Copyright &copy; {{settings.account.year}} {{settings.app.company_name}}. All Rights Reserved.</p>
            </div>

        </div>

    </div>

    <!-- Custom Footer, if supplied -->
    <custom-html html="settings.app.footer_html"></custom-html>

    <p class="global-footer" ng-bind-html="settings.account.global_footer_html"></p>

</div>
