<div class="modal-upsell upsell-stacked">
    <div class="modal-header">
        <span class="modal-title" translate>Upgrade to SpyHunter Pro for $10.00 more.</span>
    </div>
    <div class="modal-body">
        <img src="https://d3gtme41rrvmrr.cloudfront.net/BE4696/0190321314002ImpCqulx9/sq_Reghunter_logo2x.png" />
        <strong>SpyHunter Pro</strong>
        <p class="text-light">SpyHunter's advanced proprietary anti-malware engine is designed to protect your system against the latest malware threats.</p>
        <strong class="has-price spacer-b24"><span><del class="discount text-danger">$69.99</del>&nbsp;</span>$49.99</strong>
        <button type="button" class="btn btn-primary btn-upsell-cta"><span translate>Upgrade</span></button>
        <div class="faux-link spacer-t16 spacer-b16" translate>No thanks, complete my order</div>
    </div>
</div>

<!--
    Replace dynamic values
    
    Add similar to price tag
    <span ng-show="item.price_original > item.price"><del class="discount text-danger">{{data.cart.tax_inclusive ? item.formatted.total_original : item.formatted.subtotal_original}}</del>&nbsp;</span>
                                                    {{data.cart.tax_inclusive ? item.formatted.total : item.formatted.subtotal}}
-->
