<ng-form>
    <div class="modal-upsell upsell-compare">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 upsell-product">
                    <span class="modal-title" translate translate-params-amount="data.cart.up_sells.data[0].formatted.additional_amount">Upgrade for {{amount}} more</span>
                    <img ng-src="{{data.cart.up_sells.data[0].product.images[0].link_square}}" />
                    <strong>{{data.cart.up_sells.data[0].name}}</strong>
                    <p class="text-light">{{data.cart.up_sells.data[0].product.headline}}</p>
                    <strong class="has-price spacer-b24"><span><del class="discount text-danger" ng-if="data.cart.up_sells.data[0].discount">{{data.cart.up_sells.data[0].formatted.price_original}}</del>&nbsp;</span>{{data.cart.up_sells.data[0].formatted.price}}</strong>
                    <button type="button" id="upsell_commit" class="btn btn-primary btn-upsell-cta" ng-click="commitUpsellAndPay(data.cart.up_sells.data[0], 'upsell_commit')"><span translate>Upgrade</span></button>
                    <p class="helper text-light" translate>Upgrade my selection and complete my order</p>
                </div>
                <div class="col-sm-6 col-sm-pull-6 col-xs-12 selected-product">
                    <span class="modal-title" translate>Your Order</span>
                    <img ng-src="{{data.cart.up_sells.data[0].up_sell_from_product.images[0].link_square}}" />
                    <strong>{{data.cart.up_sells.data[0].up_sell_from_product.name}}</strong>
                    <p class="text-light">{{data.cart.up_sells.data[0].up_sell_from_product.headline}}</p>
                    <strong class="has-price spacer-b24">{{data.cart.up_sells.data[0].up_sell_from_product.formatted.price}}</strong>
                    <button type="button" class="btn btn-inverse" submit-payment="data.payment_method" cart="data.cart" shipping-is-billing="data.shipping_is_billing" on-success="onPaymentSuccess" cart-params="data.params" error="data.error" translate>No, Don't Upgrade</button>
                    <p class="helper text-light" translate>Keep my selection and complete my order</p>
                </div>
            </div>
        </div>
    </div>
</ng-form>
